<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a>
        </h1>

        <p>
          <a href="mailto: fchen65@asu.edu">fchen65@asu.edu</a>
          <br/>
          <a href="/assets/cv.pdf" target="_blank">CV</a>
          <br/>
          <a target="_blank" rel="noopener noreferrer" href="https://scholar.google.com/citations?user=vo0rVaoAAAAJ&hl=en">Google Scholar</a>  
        </p>

        <h2>
          <a href="/#about">About</a>
        </h2>

        <h2>
          <a href="/#research">Research</a>
        </h2>
        <h3>
          <a href="/#laminate quadruped">Laminate Quadruped</a>
        </h3>
        <h3>
          <a href="/#foldable robots">Foldable Robots</a>
        </h3>
        <h3>
          <a href="/#pneumetic soft actuators">Pneumetic Soft Actuators</a>
        </h3>

        <h2>
          <a href="/startup">Startup</a>
        </h2>
        
        <h2>
          <a href="/tinkerings">Tinkerings</a>
        </h2>

      </header>
      <section>

        {{ content }}

      </section>
      <!-- <footer></footer> -->
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>

</html>